@charset "UTF-8";

/* Typical Device Breakpoints 
------------------------------
pequenas telas: até 600px
Celulares: de 600px até 768px
Tablet: 768px até 992px
Deskopt: 992px até 1200px
Grandes Telas: acima de 1200px
 */

 @media screen and (min-width:768px) {
    .card {
        height: 450px;
        width: 602px;
        background-color: var(--White);
        border-radius: 10px;
        overflow: hidden;
        display: flex;
    }

    .card__first-section {
        width: 301px;
        display: flex;
    }

    .card__first-section__image {
        content: url(../images/image-product-desktop.jpg);
    }

    .card_second-section {
        width: 301px;
    }
 }